<form class="card card-body bg-light mb-4" [formGroup]="form">
  <h2>Enter a location:</h2>
  <input class="form-control mb-4" placeholder="Zipcode" type="text" formControlName="zipcode">
  <ng-container *ngIf="form.controls.zipcode.hasError('pattern')" [ngTemplateOutlet]="error"
                [ngTemplateOutletContext]="{message: 'Provided zip code is not a valid US code, please provide valid one.'}"></ng-container>
  <ng-container *ngIf="form.controls.zipcode.hasError('duplication')" [ngTemplateOutlet]="error"
                [ngTemplateOutletContext]="{message: 'This zip code is already stored, please provide different one, or check weather forecast below'}"></ng-container>

  <app-country-input class="mb-4" formControlName="country"></app-country-input>

  <app-task-button [task$]="taskInProgress$" [disabled]="form.invalid" (onClick)="onAdd()">
    <span>Add Location</span>
    <span working>Adding</span>
  </app-task-button>
</form>

<ng-template #error let-message="message">
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{message}}
  </div>
</ng-template>
